@font-face {
	font-family: "UbuntuMedium";
	src: url("../fonts/UbuntuMedium.eot");
	src: url("../fonts/UbuntuMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/UbuntuMedium.woff") format("woff"),
	url("../fonts/UbuntuMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

* {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #F4F4F4;
	color: #FFF;
	font-family: "UbuntuMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-content {
	margin-top: 50px;
}

.base-content {
	padding: 20px;
}


/*.mail-link {
	display: block;
	margin: 30px 0 0;
	padding: 8px;
	width: 100%;
	outline: none;
	background-color: #1E9C8580;
	outline: none !important;
	line-height: 28px;
	font-size: 18px;
}*/



.ta-center {
	text-align: center;
}

/*.share-link.facebook {
	background-image: url(../img/facebook_logo.png);
}
.share-link.vk {
	background-image: url(../img/vk_logo.png);
}
.share-link.twitter {
	background-image: url(../img/twitter_logo.png);
}

*/
.page-title {
	text-align: center;
	font-size: 32px;
/*	padding: 26px 0 14px;*/
}

.ad-fw-block {
	width: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.ad-fh-block {
	min-height: 100%;
}

.ad-btn {
	display: block;
	padding: 25px;
	margin: 20px 0;
	width: 100%;
	color: #FFF;
	font-family: Impact;
	letter-spacing: 2px;
	word-spacing: 8px;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	border: none;
	border-radius: 10px;
	outline: none;
	cursor: pointer;

	/*background-color: #4ACAB4;*/
	background-position: 0% 50%;
	background-repeat: no-repeat;
	box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.3);
}

.ad-btn.small {
	max-width: 320px;
	margin: 0 auto;
/*	padding: 7px 0 11px;
	font-size: 16px;
*/}


.ad-btn:hover {
	color: #FFF;
	text-decoration: none;
	box-shadow: inset 0px -80px 0px 0px rgba(0,0,0,0.1), inset 0px -5px 0px 0px rgba(0,0,0,0.3);
}

.ad-btn.email-ico {
	background-image: url(../img/settings/email_ico.png);
}

.ad-btn.book-ico {
	background-image: url(../img/settings/book_ico.png);
}

/*
	background-color: #1E9C85;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
	border-color: #187D6B;
	padding: 9px 40px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	outline: none;
	cursor: pointer;
*/
}

.ad-btn:hover {
	background-color: #187D6B;
}

.ad-btn.full-width {
	width: 100%;
}

.share-link {
	display: block;
	margin: 8px 0;
	padding: 8px 0 13px;
	font-size: 18px;
	outline: none !important;
}

form:not(.login-form) input {
	background-color: transparent !important;
	color: #FFF !important;
	border-radius: 0 !important;
	outline: none;
}

.ad-logo {
	margin-bottom: 30px;
	height: 100px;
/*	width: 285px;*/
/*	background-image: url(../img/icsa_logo.png);*/
	background-repeat: no-repeat;
}

/* ============ COUNTDOWN ============= */

#reg-node1 {
	/*background-image: url(../img/reg_1_bg.jpg);*/
}

#reg-node1-inner {
	background-color: #00000090;
	padding: 20px 0 90px;
}

#countscript { 
	padding: 0;
	text-align: center;
}

#reg-node1 #countdown .cd-group {
	position: relative;
	display: inline-block;
	padding-bottom: 8px;
	list-style: none;
	font-size: 46px !important;
	font-weight: bold;
	text-align: center;
	/*min-width: 108px;*/
}

#reg-node1 #countdown .days,
#reg-node1 #countdown .hours,
#reg-node1 #countdown .minutes,
#reg-node1 #countdown .seconds  {
	display: inline-block;
	line-height: 40px;
	border-bottom: 1px solid #FFF;
	text-align: center;
	white-space: nowrap;
	padding-bottom: 6px;
}

#reg-node1 #countdown .top-line {
	display: inline-block;
	line-height: 40px;
}


#reg-node1 #countdown .separator {
	float: right;
	font-size: 40px !important;
	line-height: 40px;
	padding: 0 12px 0 22px;
}

#reg-node1 #countdown .label {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	padding-top: 5px;
	padding-left: 5px;
	letter-spacing: 0.2em;
	min-width: 70px;
}


/* ============ FORM ============= */

#reg-node2 {
	/*background-image: url(../img/reg_4_bg.jpg);*/
	/*background-color: #000;*/
	background-position: center bottom;
}

#reg-node2-inner {
	padding: 60px 0;
	background-image: linear-gradient(to right, #1a1e1deb 0%, #194d4d3d 80%);
	box-shadow: inset 0px 0px 36px 0px rgba(0,0,0,0.75);
}

#reg-node2 .cup-pic {
	margin: 40px auto;
	width: 280px;
	height: 333px;
/*	background: url(../img/cup_bg.png) 0 0 no-repeat;*/
}

#reg-node2 .cup-title {
	position: absolute;
    bottom: 81px;
    width: 100%;
    left: 5px;
    font-size: 26px;
    font-family: Impact;
	line-height: 26px;
    color: #6B3E09;
    text-align: center;
    text-shadow: 0px 0px 4px #FFF;
}

#reg-node2 .cup-pic.pic-1 {
	background: url(../img/cup_1.png) 0 0 no-repeat;
}
#reg-node2 .cup-pic.pic-2 {
	background: url(../img/cup_2.png) 0 0 no-repeat;
}
#reg-node2 .cup-pic.pic-3 {
	background: url(../img/cup_3.png) 0 0 no-repeat;
}

/* ============ TESTIMONIALS ============= */

#reg-node3 {
	/*background-image: url(../img/reg_3_bg.jpg);*/
}

#reg-node3-inner {
	background-image: linear-gradient(to right, #1a1e1deb 0%, #194d4d3d 100%);
	padding: 120px 0;
}

#nav-pos {
	padding: 0 10px;
}

.testimonial{
	padding: 70px 25px 100px;
	margin-bottom: 30px;
	position: relative;
}

.testimonial .description{
	font-size: 14px;
	color: #FFF;
	line-height:26px;
}
.testimonial .pic{
	position: absolute;
	bottom: -10px;
	left: 25px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}

.testimonial .pic img{
	display: block;
	width: 100%;
	height: 100%;
}
.testimonial .testimonial-title{
	font-size: 20px;
	color: #FFF;
	font-weight: bold;
	position: absolute;
	bottom: 20px;
	left: 150px;
}
.testimonial .testimonial-title small{
	display: block;
	font-size: 14px;
	color: #FFF;
	margin-top: 7px;
}
.owl-theme .owl-controls .owl-page.active span{
	background: #00adb7;
}

.owl-theme .owl-controls {
	position: absolute;
	top: 0;
}

.owl-theme .owl-controls .owl-buttons div {
	border: 1px solid #FFF;
	border-radius: 25px;
	padding: 4px 10px;
	background: transparent;

}
.owl-prev:before,
.owl-next:before{
	content: "\f053";
	font-family: 'FontAwesome';
	color: #FFF;
}
.owl-next:before{
	content: "\f054";
}

/* ============ FOOTER ============= */

#reg-node4 {
	/*background-color: #1E9C85;*/
}

#reg-node4-inner {
	padding: 60px 0;

}

#reg-node4 .footer-title {
	font-weight: 700;
	font-size: 22px;
	line-height: 24.2px;
}

#reg-node4 .footer-subtitle,
#reg-node4 .footer-contacts {
	font-size: 14px;
	line-height: 26px;
}

#reg-node4 .footer-contacts-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 19.8px;
}


/* ============ BOTTOM BAR (COPYRIGHT) ============= */

#reg-node5 {
	/*background-color: #187d6b;*/
	font-weight: 700;
	font-size: 12px;
	color: #0c3e35;
	padding: 30px 0 16px;
	line-height: 12px;
}


/* ====================================================================================================== */
/* 	VERIFY PAGE  */
/* ====================================================================================================== */
.step-header {
	background-image: url(../img/reg_1_bg.jpg);
}

.step-page {
	width: 100%;
	min-height: 100%;
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
/*	background-attachment: fixed;*/
}

.p200 {
	background-size: 200%;
}

.bgp-top {
	background-position: top;
}
.bgp-center {
	background-position: center;
}
.bgp-bottom {
	background-position: bottom;
}


/*.step-page.bg-1 {
	background-image: url(../img/reg_1_bg.jpg);
}
.step-page.bg-2 {
	background-image: url(../img/reg_2_bg.jpg);
}
.step-page.bg-3 {
	background-image: url(../img/reg_3_bg.jpg);
}
.step-page.bg-4 {
	background-image: url(../img/reg_4_bg.jpg);
}*/

#step-page-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: #0006;
	padding: 80px 0;
	min-height: 100%;
}


.steps {
	padding: 20px 0;
}

.ad-active-step1.active1,
.ad-active-step2.active2,
.ad-active-step3.active3 {
	background-color: #0008;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.ad-active-content {
	padding: 40px;
	border-radius:  20px;
	background-color: #0008;
}

.ad-active-content.active1 {
	border-top-left-radius: 0;
}

.ad-active-content.active3 {
	border-bottom-left-radius: 0;
}

.steps .ico {
	width: 100px;
	height: 100px;
	margin: 0px auto 20px;

	background-clip: content-box;
	background-color: transparent;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.ico.step-1 {
	background-image: url(../img/settings/step_email_ico.png);
}

.ico.step-2 {
	background-image: url(../img/settings/step_friends_ico.png);
}

.ico.step-3 {
	background-image: url(../img/settings/step_books_ico.png);
}

.steps .text {
	text-align: center;
	font-family: Impact;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 8px;
}

.mtop {
	margin-top: 80px;
}

.center-alert {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	border: 1px solid #FFF;
	border-radius: 4px;
	text-align: center;
	background-color: #1E9C8580;
}

.frends-alert {
	padding: 10px 40px;
	margin: 0 auto 20px;
	font-size: 20px;
	border: 1px solid #FFF;
	border-radius: 4px;
	text-align: center;
	background-color: #007BFF80;
}


/* ======== INFO BLOCK ========*/

/* LEFT SIDE */
.info-title {
	font-size: 30px;
	font-weight: bold;
	padding: 10px 0 20px;
}

.info-subtitle {
	/*font-size: 20px;*/
	padding: 0 0 20px;
}

.proj-name {
	color: #1E9C85;
}

.custom-list {
	padding: 0;
	list-style-type: none;
}

.custom-list li {
  counter-increment: step-counter;
  margin-bottom: 12px;
}

.custom-list li::before {
  content: counter(step-counter);
  margin-right: 8px;
  font-size: 90%;
  background-color: #1E9C85;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
}

/* RIGHT SIDE */
.link-to-form {
	display: block;
	padding: 20px;
	text-align: center;
	margin-bottom: 24px;
	font-size: 20px;
}

.link-to-form:hover {
	color: #FFF;
	text-decoration: none;
}

.info-icon {
	text-align: center;
}

.ad-btn.login-ico {
	background-color: #4ACAB4;
}

.login-title {
	font-family: Impact;
	font-size: 40px;
	letter-spacing: 2px;
	color: #333;
}
