* {
	box-sizing: border-box;
}

body {
	background-color: #F4F4F4;
}

.main-content {
    margin-top: 50px;
}

.base-block {
	margin: 20px 0;
}

.base-content {
	padding: 20px;
	background-color: #FFF;
	border: 1px solid #F0F0F0;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}